.top-header {
    background-color: rgb(196, 193, 193);
    width: 100%;
}

.header-container {
    width: 100%;
    padding: 20px;
    max-width: 1200px; /* Наприклад, максимальна ширина контейнера */
    margin: 0 auto; /* Центрування контейнера на сторінці */
    display: flex;
    gap: 12px;
}

.logo {
    /* Задайте стилі вашого логотипу */
}

.nav {
    /* Задайте стилі вашого навігаційного меню */
}

.nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav ul li {
    display: inline-block;
    margin-right: 20px; /* Наприклад, відступ між пунктами меню */
}

.nav ul li:last-child {
    margin-right: 0; /* Видаляємо відступ для останнього пункту меню */
}

.nav ul li a {
    text-decoration: none;
    color: #fff; /* Колір тексту посилань */
}
.info{
    background-color: greenyellow;
}